.App {
  font-family: sans-serif;
  text-align: center;
  background-color: azure;
}
input[type="text"] {
  background-color: white;
  box-sizing: border-box;
  border-block-end-color: black;
  color: black;
}
